simultation:
  fps: 40
  screen_width: 800
  screen_height: 600
  dt: 0.1

vehicle:
  length: 4.0
  width: 2.0
  wheelbase: 2.5
  max_velocity: 10
  max_acceleration: 3.0
  max_deceleration: -5.0
  max_steering_angle: 0.6 # ~34 degrees

map:
  width: 100
  height: 100
  grid_size: 0.5
  obstacle_inflation: 0.5

planner:
  algorithm: "astar"
  goal_threshold: 1.0
  max_iterations: 10000
  step_size: 0.5

controller:
  type: "pid"
  kp: 1.5
  ki: 0.05
  kd: 0.6
  lookahead_distance: 5.0
  lookahead_gain: 0.5

training:
  algorithm: "ppo"
  total_timesteps: 100000
  learning_rate: 0.003
  batch_size: 64
  gamma: 0.99
  n_steps: 2048
  ent_coef: 0.01

visualization:
  show_trajectories: true
  show_sensors: false
  show_path: true
  vehicle_color: [0, 100, 255]
  obstacle_color: [100, 100, 100]
  path_color: [255, 0, 0]
  goal_color: [0, 255, 0]